body{
    margin: 0%;
    height: 100%;
}
.header{
    padding: 15px 0;
    background-color: #FFFFFF;
}
.headerContent{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
    border: 0px solid green;
    width:80%;
}
.logoContent{
    display: flex;
    flex-direction: row;
    align-items:center;
    border: 0px solid green;
    width:80%;
    margin-top: 10px;
 }
 .employee{
    color: green;
    font-weight: bold;
 }
 .emp-text-nextline{
    color:#42515F;
    font-weight: bold;  
 }
 .formContent{
    min-height: 200px ;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
 }
 .form-head{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom:  20px;
 }
 .label{
    min-width: 140px;
 }
 label{
    padding: 12px 12px 12px 0;
    display: inline-block;
 }
 .text{
    font-size: 16px;
    color: #42515F;
    opacity: 1;
    font-family: Roboto;
 }
 .input{
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
 }